/* Container de Por que Adotar */
.porque-adotar-container {
    background: #f4d99d;
    padding: 40px;
    text-align: center;
}

.titulo-porque-adotar {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #e94a01;
}

.motivos-container {
    flex-direction: row;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.motivo {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    align-items: center;
}

.motivo:hover {
    transform: translateY(-10px);
}

.motivo-icon {
    font-size: 40px;
    color: #e94a01;
    margin-bottom: 15px;
}

.motivo h2 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}

.motivo p {
    color: #555;
    font-size: 1rem;
}

/* Estilos para o container de animais */

.header-nossos-animais{
    background-color: #f9f6ec;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para os cards dos animais */
.card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: white;
    margin: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

/* Estilos para as imagens */
.image {
    width: 100%;
    height: 200px;
    object-fit: cover;  
    border-bottom: 1px solid #ddd;
}

/* Estilos para o conteúdo dos cards */
.cardContent {
    padding: 15px;
}

/* Título e descrição dentro do card */
.animal-nome {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.animal-tipo,
.animal-idade,
.animal-raca,
.animal-descricao,
.animal-status {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

/* Doação */
.objetivo-container {
    background: #f4d99d;
    padding: 15px 30px; 
    text-align: center;
    align-items: center;
}
.titulo-doar {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e94a01;
}

.descricao {
    color: #495057;
    font-size: 1.1rem;
    margin-top: 20px;
}

.link-doacao {
    display: inline-block;
    background-color: #e94a01;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 1.2rem;
}

.link-doacao:hover {
    background-color: #c44104;
}

.gatoCachorro {
    width: 200px;
    height: 150px;
    object-fit: cover;

}

/* Estilos para a imagem de "Nossos Animais" */
.img-adocao {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: -8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titulo-adotar{
    color: #e94a01;
}

/* Filtro de tipo menor e centralizado */
.filtro-tipo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.filtro-tipo-container p{
    color: black;
}

.filtro-tipo-select {
    width: 150px;  
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: -10px;
}

/* Estilos para os cards de animais */
.card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: white;
    margin: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/* Botões de editar e deletar */
.link-editar,
.link-deletar {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link-editar{
    margin-bottom: 5px;
}

/* Cor de fundo do botão editar */
.link-editar {
    background-color: #56a292;
}

/* Cor de fundo do botão deletar */
.link-deletar {
    background-color: #74706a;
}

/* Efeito de hover para o botão editar */
.link-editar:hover {
    background-color: #31917c;  
}

/* Efeito de hover para o botão deletar */
.link-deletar:hover {
    background-color: #d62828; 
}

/* Estilo para as imagens dos animais */
.image {
    width: 100%;
    height: 200px;
    object-fit: cover;  
    border-bottom: 1px solid #ddd;
}

/* Conteúdo dos cards */
.cardContent {
    padding: 15px;
}

.animal-nome {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.animal-tipo,
.animal-idade,
.animal-raca,
.animal-descricao,
.animal-status {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

/* Overlay de confirmação de exclusão */
.confirm-delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-delete-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.confirm-delete-box button {
    margin: 10px;
}
.confirm-delete-box h2 {
    color:rgb(73, 72, 72);
}

.success-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #348337;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 10;
}
