.porque-adotar-container {
    padding: 40px;
    background-color: #f8f9fa; 
    text-align: center;
}

.titulo-porque-adotar {
    font-size: 2.5rem;
    color: #343a40; 
    margin-bottom: 30px;
    font-weight: bold;
}

.motivos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.motivo {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 250px;
    transition: transform 0.2s; 
}

.motivo:hover {
    transform: translateY(-5px);
}

.motivo-icon {
    font-size: 3rem; 
    color: #007bff; 
    margin-bottom: 10px;
}

.motivo h2 {
    font-size: 1.5rem;
    color: #343a40; 
    margin: 10px 0;
}

.motivo p {
    color: #6c757d; 
    font-size: 1rem;
}
