.header {
    background-color: #56a292; 
    color: white; 
    text-align: center; 
}

.header-content {
    max-width: 500px; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.logo {
    width: 150px;  
    height: auto;  
}

.header-nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.header-nav li {
    display: inline; 
    margin: 0 15px; 
}

.header-nav a {
    text-decoration: none; 
    color: black; 
}

.header-nav a:hover {
    text-decoration: underline; 
}

.header-links {
    background-color: #f9f6ec; 
    padding: 10px 0; 
    margin: 0; 
    box-sizing: border-box; 
}
